# Ignore configuration file
/config/config.php
.ovhconfig
php_info.php

# Uploads
/uploads/

# Ignore backup files
*.sql
*.zip

# Ignore logs files
/app/Cronjobs/logs/*.txt

# Ignore IDE files
.project
/.idea/

/vendors/dompdf/lib/fonts/log.htm
app/Cronjobs/logs/
backup/complete/
backup/mysql/

# Sitemap
/sitemap/
*.xml

