/*
style.css
by F Perdreau
*/


/* *********************************************************************/
/* Header
/* *********************************************************************/
#sitelogo>#logo, #sitelogo > div {
    width: auto;
    vertical-align: middle;
    display: inline-block;
}

#logo>img {
    height: 50px;
    width: auto;
    vertical-align: middle;
}

#sitetitle {
    font-size: 1.3em;
    width: 185px;
    min-width: 185px;
    display: inline-block;
    text-align: left;
    color: rgba(51,102,153,1);

}

#subtitle {
    font-size: 1.0em;
    font-weight: 300;
    font-style: oblique;
}

/* *********************************************************************/
/* Sections/divs
/* *********************************************************************/
section {
    display: block;
    box-sizing: border-box;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,1);
    background: white;
    padding: 10px;
}

/* *********************************************************************/
/* Logout
/* *********************************************************************/
.logoutWarning {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: auto;
    background-color: rgba(164, 33, 27, .9);
    color: #FFF;
    padding: 10px;
}

#logout {
    position: absolute;
    bottom: 0;
    left: 0;
    float: left;
    padding: 5px;
}

#logout>a {
    color: rgba(50,50,50,1);
}

#logout>a:hover {
    color: rgba(54,54,54,1);
}

.menu_extra {
    position: relative;
}

/* *********************************************************************/
/* Blog
/* *********************************************************************/
.blog_container {
    padding: 0;
}

.blog_header {
    padding: 5px;
    border-bottom: 1px solid rgba(50,50,50,.2);
}

h1.blog_title {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2em;
    margin: 0;
}

.blog_content {
    padding: 10px;
}

.blog_more {
    text-align: right;
}

.blog_footer {
    border-top: 1px solid rgba(50,50,50,.2);
    background-color: rgba(50,50,50,.1);
    padding: 5px;
}

.blog_footer>div {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
    font-size: 0.9em;
}

.blog_date {
    color: rgba(100, 100, 100, 1);
    text-align: left;
}

.blog_author {
    text-align: right;
}

.blog_author_name {
    color: rgba(100, 100, 100, 1);
    font-weight: 500;
}


/* *********************************************************************/
/* Tools
/* *********************************************************************/
.add_tool {
    background: rgba(51,102,153,1);
    color: #FFF;
    margin-top: 10px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
}

#disclaimer>div {
    padding: 20px;
    border-left: 2px solid rgba(127,0,0,.5);
}

section.project {
    box-sizing: border-box;
    padding: 50px;
}

.even {
    background: rgba(51,102,153,1);
}

.even #project_icon {
    color: rgba(51,102,153,1);
}

.even .tools_btn:hover {
    color: rgba(51,102,153,1);
}

.odd {
    background: rgba(125,125,125,1);
}

.odd #project_icon {
    color: rgba(125,125,125,1)
}

.odd .tools_btn:hover {
    color: rgba(125,125,125,1);
}

#project_header {
    display: block;
    margin-bottom: 20px;
}

#project_icon {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: top;
    text-align: center;
    background: rgba(255,255,255,.8);
    font-size: 1.5em;
    font-weight: 400;
    height: 50px;
    float: left;
    margin: 0 10px 10px 0;
    padding: 5px;
    line-height: 50px;
}

#project_info {
    display: inline-block;
}

#project_title {
    vertical-align: middle;
    display: inline-block;
    font-size: 1.4em;
    font-weight: 400;
    color: rgba(255,255,255,1);
}

#project_version {
    display: block;
    color: rgba(255,255,255,.5);
    font-size: 1em;
    margin-top: 5px;
}

#project_content {
    padding: 5px;
    line-height: 1.2em;
}

#project_desc {
    text-align: justify;
    margin: 20px 0 10px 0;
    color: rgba(255,255,255,.8);
}

#project_req {
    margin-top: 10px;
    color: rgba(255,255,255,.8);
}

#project_count {
    display: block;
    width: auto;
    text-align: right;
    font-size: 0.9rem;
    margin-top: 10px;
    color: rgba(255,255,255,.8);
}

.mod_tool {
    text-align: left;
}
.mod_tool>a {
    font-size: 0.9em;
    color: rgba(255,255,255,.8);
}

.mod_tool:hover>a {
    color: rgba(255,255,255,1);
}

.tools_btn_div {
    margin-top: 50px;
    text-align: center;
}

.tools_btn {
    display: inline-block;
    background-color: rgba(68,68,68,.5);
    padding: 5px;
    border-left: 3px solid rgba(255,255,255,1);
    border-right: 3px solid rgba(255,255,255,1);

    color: #FFFFFF;
    font-size: 1em;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.tools_btn:hover {
    background-color: rgba(255,255,255,.8);
    border-left: 3px solid #555555;
    border-right: 3px solid #555555;
    color: rgba(51,102,153,1);
}

.tools_container {
    display: block;
    position: relative;
    width: 100%;
    text-align: center;

}

.tool_container {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 150px;
    height: 150px;
    background: rgba(51,102,153,.2);
    border: 1px solid rgba(51,102,153,1);
    color: rgba(51,102,153,1);
    margin: 10px;
    padding: 20px;
    transition: all 0.3s ease 0s;

}

.tool_container:hover{
    background: rgba(51,102,153,.5);
    cursor: pointer;
}

.tool_container:hover>.tool_name{
    color: rgba(255,255,255,1);

    cursor: pointer;
}

.tool_icon {
    text-transform: uppercase;
    text-align: center;
    color: rgba(255,255,255,1);
    background: rgba(51,102,153,1);
    font-size: 1.5em;
    font-weight: 400;
    height: 50px;
    float: left;
    margin: 5px;
    padding: 5px;
    line-height: 50px;
}

.tool_name {
    text-align: center;
    color: rgba(51,102,153,1);
    font-size: 1.2em;
    display: inline-block;
    margin-top: 20px;
    font-weight: 300;
}

.tool_desc {
    display: table-cell;
    position: absolute;
    vertical-align: middle;
    padding: 10px;
    box-sizing: border-box;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(51,102,153,.9);
    color: rgba(255,255,255,1);
    line-height: 150px;
}

.tool_content {
    vertical-align: middle;
    display: inline-block;
    margin: auto;
    line-height: normal;
}

.tool_version {
    margin: 10px auto 10px auto;
    font-size: 1.3em;
    font-weight: 400;
}

.tool_short {
    font-size: 0.9em;
}

/* *********************************************************************/
/* Admin - Login
/* *********************************************************************/
#login_box {
    width: 300px;
    box-sizing: border-box;
    margin: 5% auto;
    background: rgba(255,255,255,1);
    color: rgba(51,102,153,1);
    padding: 30px;
}

#login_box>h1, #login_box>.forgot_password {
    color: rgba(51,102,153,1);
    margin: 0;
}

/* *********************************************************************/
/* Admin - Pages administration
/* *********************************************************************/
.page_settings>.form-group {
    display: inline-block;
}

/* *********************************************************************/
/* Admin - Plugins
/* *********************************************************************/
.plugDiv {
    position: relative;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.plugDiv .formcontrol {
    margin: 5px 5px 0 0;
}

.plugLeft {
    display: inline-block;
    vertical-align: top;
    width: 150px;
}

.plugName {
    font-weight: 600;
    color: rgba(68,68,68,1);
    vertical-align: top;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.plugTime {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.optBar {
    margin-top: 20px;
    display: block;
    vertical-align: bottom;
}

.optBar div {
    display: inline-block;
}

.plugSettings {
    display: inline-block;
    margin-bottom: 10px;
}

.plugOpt {
    font-size: 0.8em;
    padding: 10px;
    margin: 10px auto 10px auto;
    border: 2px dashed #ddd;
    display: none;
    width: 100%;
}

.task_options_header {
    font-weight: 600;
}

.loadBtn {
    background: rgba( 255, 255, 255, 1)
    url('../../../../../public/images/small_loader.gif')
    50% 50%
    no-repeat;
    background-size: 20px 20px;
    z-index: 1;
}

/* On/Off button */
div.optBar {
    display: block;
    width: 100%;
    vertical-align: bottom;
    position: relative;
}

div.optBar>div {
    display: inline-block;
    vertical-align: top;
    width: 30px;
    height: 30px;
}

/** Option buttons **/
.optBtn {
    display:inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: rgba( 255, 255, 255, 1);
    border: 2px solid rgba(207,81,81,1);
    border-radius: 100%;
    box-sizing: content-box;
    text-align: center;
}

.optBtn:hover{
    border: 2px solid rgba(34, 34, 34, 1);
    background-color: rgba(207,81,81,1);
}

.optBtn img {
    height: auto;
    width: 100%;
    vertical-align: middle;
}

.optBtn button[type='submit'] {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.optBtn button[type='submit']:hover {
    background-color: rgba(207,81,81,1);
}

.plugDiv {
    position: relative;
    border-bottom: 1px dashed #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.plugDiv .formcontrol {
    margin: 5px 5px 0 0;
}

.plugLeft {
    display: inline-block;
    vertical-align: top;
    width: 200px;
}

.plugName {
    font-weight: 600;
    color: rgba(68,68,68,1);
    vertical-align: top;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.plugTime {
    font-size: 0.8em;
    margin-bottom: 10px;
}

.optBar {
    margin-top: 20px;
    display: block;
    vertical-align: bottom;
}

.plugSettings {
    min-width: 300px;
    width: 70%;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 10px;
}

.plugSettings .description {
    font-size: 12px;
    padding: 5px;
    border: 1px solid rgba(100, 100, 100, .5);
}

.plugSettings .description .version {
    font-weight: 600;
    margin-bottom: 5px;
}

.plugOpt {
    font-size: 0.8em;
    padding: 10px;
    margin: 10px auto 10px auto;
    border: 2px dashed #ddd;
    display: none;
    width: 100%;
}

.plugLog {
    margin-top: 5px;
    padding: 5px;
    background: rgba(100,100,100,1);
    color: white;
    font-size: 12px;
    overflow-y: auto;
    max-height: 300px;
    border: 1px solid rgba(50, 50, 50, .5);
}

.workBtn {
    display:inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: rgba( 255, 255, 255, 1);
    border: 2px solid rgba(207,81,81,1);
    border-radius: 100%;
}

.workBtn:hover{
    border: 2px solid rgba(34, 34, 34, 1);
    background-color: rgba(207,81,81,1);
}

.loadBtn {
    background: rgba( 255, 255, 255, 1)
    url('../../../../../public/images/small_loader.gif')
    50% 50%
    no-repeat;
    background-size: 20px 20px;
}

.optBtn_icon {
    width: 20px;
    height: 20px;
    background-size: 90% 90%;
}

.installBtn {
    background: url('../../../../../public/images/install_btn.png') 50% 50% no-repeat;
    background-size: 90%;
}


.uninstallBtn {
    background: url('../../../../../public/images/delete.png') 50% 50% no-repeat;
    background-size: 90%;
}

.activateBtn {
    background: url('../../../../../public/images/on.png') 50% 50% no-repeat;
    background-size: 90%;
}

.deactivateBtn {
    background: url('../../../../../public/images/off.png') 50% 50% no-repeat;
    background-size: 90%;
}

.runBtn {
    background: url('../../../../../public/images/run.png') 50% 50% no-repeat;
    background-size: 90%;
}

.settingsBtn {
    background: url('../../../../../public/images/settings.png') 50% 50% no-repeat;
    background-size: 90%;
}

.settings .form-group {
    display: inline-block;
}

/* *********************************************************************/
/* Home page
/* *********************************************************************/

#homeMsg {
    position: relative;
    color: rgba(204,204,204,.5);
    text-align: center;
    vertical-align: middle;
    padding: 10% 50px 10% 50px;
    background: rgba(54,54,54,1);
}

.home_section {
    padding: 80px 50px;
}

#news {
    background: rgba(51,102,153,1);
    color: #FFF;
}

#news h2 {
    color: #FFF;
    border-bottom: 1px solid rgba(255,255,255,.5);
}

#news a {
    color: #FFF;
    transition: all 0.3s ease 0s;
}

#news a:hover {
    color: rgba(255,255,255,.5);
}

#tools_list h2 {
    color: rgba(51,102,153,.8);
}

#about_content {
    width: 90%;
    margin: auto;
    font-style: italic;
    text-align: center;
    color: #666666;
    padding: 10px;
}

#bio_pic {
    width: 300px;
    height: auto;
    float: left;
    margin: 10px;
}

#bio_pic>img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* *********************************************************************/
/* Publications sections
/* *********************************************************************/
.biblio-container {
    width: auto;
	padding-top: 5px;
	margin-top: 0;
    text-align: left;
}

.biblio-container > div {
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}

.biblio-container:after {
    content: "";
    width: 100%;
    display: inline-block;
}

.refcontent {
    text-align: left;
    padding: 5px 10px;
    cursor: pointer;
}

.refcontent>div {
    display: inline-block;
    vertical-align: middle;
}

.refcontent:hover {
    background: rgba(51,102,153,.1);
}

.refcontent:hover>.refcitation>a {
    color: rgba(54,54,54,.8);
}

.refnum {
    background: rgba(51,102,153,.8);
    text-align: center;
    display: inline-block;
    vertical-align: top;
    width: 20px;
    margin-right: 10px;
    padding: 0;
    font-weight: 200;
    color: rgba(255,255,255,1);
    border-radius: 20px;
    font-size: 1.1em;
}

.refcitation {
    min-width: 200px;
    max-width: 90%;
    text-align: justify;
}

.refcitation>a {
    color: rgba(54,54,54,1);
}

.show {
    height: 20px;
    width: 60px;
    text-align: center;
}

.pub_type {
    min-width: 70px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1em;
    margin-right: 10px;
    color: rgba(255,255,255,.5);
}

/* *********************************************************************/
/* Buttons
/* *********************************************************************/
button {
    text-decoration: none;
    border: 0;
}

button>a:hover {
    color: rgba(255, 255, 255, 1);
}

.delete_btn {
    width: 30px;
    height: 30px;
    background: rgba( 255, 255, 255, 1)
    url('../../../../../public/images/trash.png')
    50% 50%
    no-repeat;
    background-size: 30px 30px;
}

.add_btn {
    display: inline-block;
    clear: both;
    background-color: rgba(50, 50, 50, .5);
    max-width: 100px;
    padding: 0;
    margin-bottom: 10px;
    font-size: 0;
    border: 1px solid rgba(50, 50, 50, 1);
}

.add_btn div {
    display: inline-block;
}

.add_btn_icon {
    background-color: rgba(50, 50, 50, 1);
    width: 30px;
}

.add_btn_icon>img {
    vertical-align: middle;
    width: 100%;
    height: auto;
}

.add_btn_text {
    text-transform: uppercase;
    color: rgba(50, 50, 50, 1);
    background-color: rgba(200, 200, 200, 1);

    font-weight: 500;
    font-size: 14px;
    width: auto;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    padding: 0 10px;
    border-left: 2px solid rgba(50, 50, 50, .7);
}

.add_btn:hover .add_btn_text {
    background-color: rgba(50, 50, 50, .5);
    color: rgba(200, 200, 200, 1);
}

.operation_btn > a> img {
    width: 20px;
    height: 20px;
}

.Btn {
    padding: 7px 10px;
    background: #000;
}

.Btn_red {background: #CF5151; color: #FFF; font-size: 0.8em;}

.Btn:hover {background: #E4E4E2;}
.Btn_red:hover {background: #BE4141;}

a.Btn {color:#666; text-align: center; text-decoration: none;}
a.Btn_red {color: #FFF;}


/** Option buttons **/
.optBtn {
    display:inline-block;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 2px;
    background-color: rgba( 255, 255, 255, 1);
    border: 2px solid rgba(207,81,81,1);
    border-radius: 100%;
    box-sizing: content-box;
    text-align: center;
}

.optBtn:hover{
    border: 2px solid rgba(34, 34, 34, 1);
    background-color: rgba(207,81,81,1);
}

.optBtn img {
    height: auto;
    width: 100%;
    vertical-align: middle;
}

.optBtn button[type='submit'] {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.optBtn button[type='submit']:hover {
    background-color: rgba(207,81,81,1);
}
/* *********************************************************************/
/* CV
/* *********************************************************************/
#last_update {
    float: right;
}
.cvdownload_container>div {
    display: inline-block;
    vertical-align: middle;
}

.cvdownload {
    display: block;
    font-size: 0;
}

.cvdownload>a>div {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;

    font-size: 15px;
    font-weight: 300;

    line-height: 20px;
    min-height: 20px;
}

#pdfcore {
    position: relative;
    width: 100%;
    min-width: 320px;
    box-sizing: border-box;
    margin: 75px auto 0 auto;
    padding: 0;
    min-height: 768px;
    border-left: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    font-size: 12px;
}

#pdftitle {
    color: rgba(51,102,153,.5);
    font-weight: 400;
    text-align: center;
}

#cvperso {
    margin: 20px 0;
    padding: 10px;
}

#cvperso td {
    padding: 10px;
}

#cvperso>.cvfield {

}

#perso_info>div {
    margin-bottom: 5px;
}

#perso_info #title {
    font-size: 20px;
}

#contact_info>div {
    margin-bottom: 10px;
}

#contact_info .cvfield {
    font-weight: bold;
    color: rgba(51,102,153,1);
}

#perso_info {
    width: 80%;
}

#cvperso #position {
    text-transform: uppercase;
    font-size: 22px;
    color: rgba(51,102,153,1);
    margin-bottom: 10px;
}

#cvperso #fullname {
    font-size: 30px;
    font-weight: 500;
    color: rgba(51,102,153,1);
}

#cvperso #institution {
    font-size: 18px;
    margin-bottom: 0;
}

#cvperso #university {
    font-size: 16px;
}

#cvperso #address {
    font-size: 12px;
}

#cvperso #contact_info {
    width: 60%;
}

.cv_url {
    display: inline-block;
    border-bottom: 2px solid rgb(107, 144, 181);
    border-left: 0;
    margin: 0;

    padding: 4px 10px;
    font-size: 1.2em;
    box-sizing: border-box;
    height: auto;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease 0s;

    border-bottom: 2px solid rgb(107, 144, 181);
    border-left: 0;
}

.cv_url>a {
    color: rgb(207, 81, 81);
}

.cv_url:hover>a {
    color: rgba(51,102,153,.7);
}

.add_cv {
    background: rgba(51,102,153,1);
    color: #FFF;
    margin-top: 10px;
    width: 100px;
    padding: 10px;
    cursor: pointer;
}

#cv_url {
    display: none;
    background: rgba(51,102,153,1);
    color: #FFF;
    cursor: pointer;
    padding: 5px 10px;
}

#cv_url:hover {
    background: rgba(51,102,153,.5);
}

.cvsection {
    padding: 0 0 0 10px;
    margin: 0 auto 30px auto;
    height: auto;
    border-left: 3px solid rgba(51,102,153,.3);
    box-shadow: none;
}

.cvsubsection {
    padding: 10px 0;
    page-break-inside: avoid;
}

.cvyear {
    text-align: left;
    vertical-align: top;
    min-height: 1em;
    font-weight: 200;
    color: rgba(51,102,153,1);
    font-size: 1.5em;
}

.cvyear_item {
    padding: 2px 0;
}

.cvcontent {
    display: inline-block;
    width: 85%;
    min-width: 200px;
    margin-left: 20px;
}

.cvsubheader {
    font-size: 1.2em;
    width: 100%;
    font-weight: bold;
    border-bottom: 1px solid rgba(51,102,153,1);
}

.cvfield {
    font-weight: bold;
    color: #555555;
}

.section_description {
    margin-top: 10px;
	padding: 5px;
    border: 3px solid rgba(51,102,153,.2);
    box-sizing: border-box;
}

.delcvEl, .modcvEl {
    vertical-align: top;
    display: inline-block;
}

.delBtn {
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #FFF;
    background-color: rgba(51,102,153,1);
    cursor: pointer;
}

.delBtn:hover{
    background-color: rgba(51,102,153,.5);
}


/* *********************************************************************/
/* Downloads
/* *********************************************************************/
.dl_btn {
    width: 20px;
    text-align: center;
    cursor: pointer;
    color:#444;
}

.dl_btn:hover {
    color:#EEE;
}

div.dlmenu {
    display: none;
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(51,102,153,.9);
    border-radius: 10px;
    padding: 10px;
    min-width: 130px;
    position: relative;
    z-index: 1100;
    margin: 0;
    text-align: left;
}

.dl_info {
    display: block;
    width: auto;
    font-size: 0;
    min-height: 30px;
    line-height: 30px;
    margin: 5px auto 0 auto;
    padding: 0;
    cursor: pointer;
}

.dl_info:hover > .dl_name {
    color:rgba(207,81,81,1);
}

.dl_info:active > .dl_name {
    color: rgba(34,34,34,.5);
}

.dl_name {
    display: inline-block;
    font-size: 12px;
    line-height: 30px;
    padding-left: 10px;
    min-width: 80px;
    white-space: pre-wrap;
    font-weight: bold;
    border-bottom: 1px solid rgba(207,81,81,1);
}

.dl_name:hover {
    color: #EEEEEE;
}

.dl_type {
    display: inline-block;
    font-size: 10px;
    text-align: center;
    width: 30px;
    height: 30px;
    margin: 0;
    font-weight: bold;
    background-color: #555555;
    color: #EEEEEE;
    border-radius: 100%;
}

/* *********************************************************************/
/* Publication modal window
/* *********************************************************************/
.pub_caps {
    display: block;
    background-color: #FFF;
    padding: 10px;
}

#pub_date {
    width: 20%;
    display: inline;
}

#pub_title {
    width: 100%;
    font-size: 1.5em;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

#pub_orator {
    margin-right: 5px;
    text-align: right;
    width: 50%;
    display: inline;
}

.pub_info {
    display: inline-block;
}

.pub_stats {
    width: 100%;
    text-align: right;
    font-size: 0.9em;
    color: rgba(51,102,153,.9);
    right: 0;
}

.pub_menu {
    min-width: 300px;
    text-align: left;
    font-size: 0.9em;
    color: rgba(51,102,153,.9);
}

.pub_menu>div {
    display: inline-block;
    margin-bottom: 5px;
}

.pub_abstract {
    display: block;
    text-align: justify;
    padding: 10px;
    border: 3px solid rgba(51,102,153,.2);
}

.modalContainer .pub_abstract {
    overflow-y: auto;
    max-height: 250px;
    border: 0;
    background: rgba(51,102,153,.2);
}

.pub_label {
    color: rgba(51,102,153,1);
    font-weight: bold;
}

.pub_action_btn {
    box-sizing: border-box;
    padding: 10px 0 5px 0;
    text-align: justify;
}

.pub_action_btn>div {
    vertical-align: bottom;
    display: inline-block;
}

.pub_action_btn .pub_btn {
    display: inline-block;
}

.pub_one_half {width:50%; display: block; float:left; margin-bottom: 10px;}
.pub_one_half>div {
    vertical-align: top;
    display: inline-block;
}

.pub_one_half.last {width:45%; margin-left:5%; margin-bottom: 10px; text-align: right;}

.pub_one_half.last>div {
    vertical-align: top;
    display: inline-block;
}

.pub_btn {
    padding: 5px 8px;
    background: white;
    border: 2px solid rgba(51,102,153,1);
    text-align: center;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}

.icon_btn {
    padding: 5px;
    border-radius: 100%;
    border: 2px solid rgba(71, 117, 163, .8);
    background: white;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.icon_btn:hover {
    border: 2px solid rgba(71, 117, 163, 1);
    background: rgba(71, 117, 163, .5);
}

.icon_btn img {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}

.pub_btn a {
    color:#444;
    text-align: center;
    text-decoration: none;
}

.pub_btn:hover>a {
    color:#EEE;
    text-align: center;
    text-decoration: none;
}

.pub_btn:hover {
    color:#EEE;
    background: rgba(51,102,153,.9);
}

.pub_delete {
    display: none;
}

.publication_form {
    display: none;
}

.pub_modify {
    display: none;
}

.Btn_cv {
    display: inline-block;
}

.Btn_cv:hover .Btn_cv_icon>.icon_btn{
    border: 2px solid rgba(71, 117, 163, 1);
    background: rgb(194, 209, 225);
}

.Btn_cv:hover .Btn_cv_label {
    border-bottom: 2px solid rgba(194, 209, 225, 1);
}

.Btn_cv_icon {
    display: inline-block;
    vertical-align: middle;
    z-index: 2;
    position: relative;
}

.Btn_cv_label {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.3em;
    color: rgba(71, 117, 163, 1);
    font-weight: 400;
    border-bottom: 2px solid rgba(71, 117, 163, .8);
    padding: 0 0 5px 10px;
    margin: 0 0 0 -10px;
}

/* *********************************************************************/
/* Login
/* *********************************************************************/
.missing_field {
    background-color: rgba(127,0,0,.5);
}

.login_form {
    display: none;
}

.register_form {
    display: none;
}

.changepw_form {
    display: none;
}

#profile_photo {
    position: relative;
    width: 200px;
}

#profile_photo>img {
    z-index: 0;
    width: 100%;
    height: auto;
}

#profile_photo_modify {
    box-sizing: border-box;
    position: absolute;
    bottom: 4px;
    left: 0;
    padding: 5px;
    width: 100%;
    background-color: rgba(220, 220, 220, .7);
    color: rgba(255, 255, 255, 1);
    z-index: 1;
    cursor: pointer;
}

#profile_photo_modify:hover{
    background-color: rgba(220, 220, 220, .9);
}

#profile_photo_modify>div {
    display: inline-block;
    vertical-align: middle;
}

#profile_photo_modify #icon {
    width: 20px;
    height: 20px;
    background: url('../../../../../public/images/edit.png') 50% 50% no-repeat;
    background-size: 15px;
}

#photo_form {
    background-color: rgba(220, 220, 220, 1);
    padding: 10px;
    width: 300px;
}

.map {
    display: inline-block;
    max-width: 300px;
    height: auto;
}

.map>iframe {
    max-width: 300px;
    height: auto;
}

/* *********************************************************************/
/* FORMS
/* *********************************************************************/

fieldset {
    border: none;
}

.form-group {
    width: auto;
    min-height: 30px;
    height: auto;
    display: block;
    text-align: left;
    margin: 10px 0 0 10px;
    padding: 0;
    position: relative;
}

.form-group div {
    vertical-align: bottom;
}

/* Div specific to tinyMCE textarea */
.form-group>div.mce-tinymce {
    display: inline-block;
    position: relative;
    vertical-align: top;
    margin: 0;

    font-size: 12px;
    font-weight: 300;

    color: #777;
}

.form-group label {
    vertical-align: top;
    display: inline-block;
    min-width: 100px;
    width: auto;
    color: rgba(34, 34, 34, .8);
    margin-right: 10px;
    padding: 2px 10px 2px 0px;
    font-weight: 500;
}

input[type='text'], input[type='email'], input[type='password'], input[type='date'], input[type='datetime-local'],
input[type='number'], input[type='time'], select, textarea {
    position: relative;
    display: inline-block;
    height: auto;
    width: auto;
    background-color: #FFFFFF;
    line-height: 100%;
    font-size: 1em;
    box-sizing: border-box;
    min-width: 50px;
    padding: 6px 4px;
    border: 1px solid rgba(34, 34, 34, .1);
    border-radius: 2px;
    border-bottom: 2px solid rgba(34, 34, 34, .3);
    color: rgba(34, 34, 34, .8);
    transition: all 0.3s ease 0s;
}

.form-group input:focus, textarea:focus, select:focus {
    outline: none;
    border-bottom: 2px solid rgba(34, 34, 34, .8);
}

.form-group input[type='radio']{
    width: 5px;
}

input[type="submit"], input[type="button"], button[type="submit"] {
    background: rgba(51,102,153,.9);
    color: #ffffff;
    border: 1px solid transparent;
    border-radius: 2px;

    transition: all 0.3s ease 0s;
    opacity: 1;
    cursor: pointer;
    padding: 7px 10px;
    font-size: 12px;
    margin-right: 5px;

    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type="submit"]:hover, input[type="button"]:hover, button[type="submit"]:hover {
    color: #FFF;
    background: rgba(51, 102, 153, 0.71);
    border-color: rgba(0,0,0,0.07)
}

input[type="submit"]:active, input[type="button"]:active, button[type="submit"]:active {
    opacity: 0.75;
    outline: none;
}

input::-webkit-input-placeholder {
    font-family: 'Ubuntu', Calibri, Arial, sans-serif;
    font-style: italic;
}

textarea::-webkit-input-placeholder {
    font-family: 'Ubuntu', Calibri, Arial, sans-serif;
    font-style: italic;
}

select {
    border: 1px solid rgba(50, 50, 50, .5);
    border-bottom: 2px solid rgba(50, 50, 50, .5);
}

select option:disabled {
    background: rgba(34, 34, 34, .8);
    color: white;
    font-size: 1.2em;
    font-weight: 400;
}

.form-group textarea {
    resize: none;
    min-width: 250px;
    min-height: 150px;
    width: 100%;
    box-sizing: border-box;
}

.wrong_field {
    border: 1px solid rgba(127,0,0,.1);
    border-bottom: 2px solid rgba(127,0,0,.3);
}

.submit_btns {
    margin: 5px auto 5px 0;
    top: 0;
    left: 0;
    text-align: left;
    font-size:0;
}

.submit_btns>div, .submit_btns>button, .submit_btns>.form-group {
    display: inline-block;
}

/* Semi-transparent layer added on top of a form in order to show a feedback */
.feedbackForm {
    position : absolute;
    z-index : 1000;
    top : 0;
    left : 0;
    display : inline-flex;
    text-align :center;
    min-width : 100%;
    min-height : 100%;
    background : rgba(255,255,255,.9);
    margin : auto;
}

.feedbackForm > div {
    vertical-align: middle;
}

/* Feedback div to display other messages */
.feedbackSubmit {
    margin: 0;
    box-sizing: border-box;

    padding: 8px 3px 9px 3px;
    font-size: 13px;
    color: rgba(255, 255, 255, 1);
    background: rgba(200, 100, 100, 1);

    display: inline-block;
    color: #FFF;
    min-width: 0;
    max-width: 70%;
    text-align: center;

    vertical-align: top;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

div.inputFeedback {
    display: inline-block;
    font-weight: 100;
    color: #fff;
    background: rgba(200, 100, 100, 1);
    width: 20px;
    text-align: center;
    height: 20px;
    line-height: 25px;
    margin: 0;
    padding: 4px 4px 4px 4px;
    vertical-align: top;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

/* *********************************************************************/
/* Language menu
/* *********************************************************************/
#languages {
    font-size: 0;
}

#languages > div {
    display: inline-block;
    font-size: 12px;
}

#languages #language_label {
    padding: 5px;
    border: 1px solid white;
    border-bottom-color: rgba(50, 50, 50, 1);
}

.language_container li#selected {
    border: 1px solid rgba(50, 50, 50, 1);
}

.language_container #option_list {
    background: rgba(255, 255, 255, 1);
    border: 1px solid rgba(50, 50, 50, 1);
    border-top: 0;
}

.language_container li {
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
}

.language_container li:hover {
    background: rgba(200, 200, 200, 1);
}

.language_container li a {
    color: rgba(50, 50, 50, 1);
}

/* *********************************************************************/
/* Policies
/* *********************************************************************/
.policies_container {
    margin: 20px 10px 10px 0px;
    display: inline-block;
}

.policies_container li {
    list-style: none;
    border-bottom: 1px solid rgba(50, 50, 50, 1);
    margin-bottom: 10px;
}

.policies_container li a {
    color: rgba(50, 50, 50, 1);
}

.policies_container li a:hover {
    color: rgba(0, 0, 0, 1);
}

.policies_container ul {
    padding: 0 0 0 5px;
}

.policies_title {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: 10px;
}

.policies_section {
    margin-top: 10px;
}

.policies_section_name {
    background: rgba(200, 200, 200, .5);
    padding: 10px;
    position: relative;
}

.policies_section_name h2 {
    margin:0;
}

.policies_content {
    border-left: 3px solid rgba(200, 200, 200, .5);
    padding-left: 10px;
}

.policies_toggle_content {
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 8px;
    cursor: pointer;
}

.toggle_on {
    background: url('../../../../../public/images/toggle_on.png') 50% 50% no-repeat;
    background-size: 100%;
}

.toggle_off {
    background: url('../../../../../public/images/toggle_off.png') 50% 50% no-repeat;
    background-size: 100%;
}

/* *********************************************************************/
/* Cookies consent popup
/* *********************************************************************/
#cookie_consent_container {
    background: rgba(50, 50, 50, .9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
    padding: 10px;
}

#cookie_consent_container>div {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
}

#cookie_consent_text {
    color: white;
    margin-right: 30px;
}

#cookie_consent_text a {
    color: yellow;
}

#cookie_consent_btn {
    padding: 10px;
    border-radius: 2px;
    background: rgba(200, 200, 200, .5);
    color: black;
    cursor: pointer;
}

#cookie_consent_btn:hover {
    background: rgba(200, 200, 200, .7);
    transition: all 0.3s ease 0s;
    color: white;
}

/* *********************************************************************/
/* Links
/* *********************************************************************/
.links_form_container {
    border-top: 1px solid rgba(200, 200, 200, .7);
}

.links_form_container>.operations {
    display: inline-block;
}

.operations>div, .operations>.form-group {
    display: inline-block;
    margin: 0;
    vertical-align: middle;
}

.links_form_container>div {
    display: inline-block;
    margin-top: 5px;
    vertical-align: middle;
}

.links_form .form-group {
    display: inline-block;
    margin: 10px 0;
}

.links_form_container label {
    display: none;
}

input.links_submit {

}

.links_container li {
    list-style: square;
}


/* *********************************************************************/
/* Admin/Sitemap
/* *********************************************************************/
#sitemap_content {
    max-height: 500px;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
    font-size: 12px;
    background: rgba(50, 50, 50, 1);
    color: white;
    white-space: pre;

}

/* *********************************************************************/
/* Pagination menu
/* *********************************************************************/
.paging_container {
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 10px;
    margin-top: 20px;
}

.paging_container > div {
    display: inline-block;
    width: 300px;
    margin: auto;
    text-align: justify;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    bottom: 10px;
}

#paging_menu {
    display: inline-block;
    width: 300px;
    margin: auto;
    text-align: justify;
    background-color: rgba(255, 255, 255, 1);
    padding: 0;
    bottom: 10px;
}

#paging_menu>div {
    display: inline-block;
}

#paging_nav {
    width: 100%;
    text-align: center;
    font-weight: 400;
}

#paging_nav div {
    display: inline-block;
    margin: 2px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

#paging_nav img {
    width: 15px;
    height: auto;
    vertical-align: middle;
}

#paging_nav a:hover {
    font-weight: 600;
}

#paging_nav #paging_current {
    font-weight: 600;
    border: 1px solid black;
}

#paging_nav #paging_next {
    font-weight: 400;
}

#paging_nav #paging_last {
    font-weight: 400;
}

.pp_selector_container {
    right: 0;
    width: 35%;
    text-align: center;
    padding: 2px;
    border-left: 2px solid rgba(50, 50, 50, .3);
}

.gallery_menu_container {
    box-sizing: border-box;
}

.gallery_menu_container>div {
    display: inline-block;
    width: 45%;
}

.gallery_menu_container label {
    font-weight: 400;
}

.gallery_menu_container select {
    font-size: 12px;
    max-width: 100%;
}

.gallery_menu_container .disabled_select {
    font-size: 12px;
}

.gallery_menu {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.gallery_menu > div {
    display: inline-block;
    width: 300px;
    margin: auto;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    padding: 5px 8px;
    bottom: 10px;
}